openapi: 3.1.0
info:
  title: Amazon Verified Access
  version: '1.0.0'
  description: Minimal OpenAPI representation of AWS Verified Access actions exposed through the EC2 API. Operations follow the AWS RPC-over-HTTP convention.
servers:
  - url: https://ec2.amazonaws.com
x-generated-from: https://docs.aws.amazon.com/verified-access/latest/ug/
x-generated-by: claude-crawl-2026-05-08
paths:
  /CreateVerifiedAccessEndpoint: {post: {summary: CreateVerifiedAccessEndpoint, operationId: CreateVerifiedAccessEndpoint, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteVerifiedAccessEndpoint: {post: {summary: DeleteVerifiedAccessEndpoint, operationId: DeleteVerifiedAccessEndpoint, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeVerifiedAccessEndpoints: {post: {summary: DescribeVerifiedAccessEndpoints, operationId: DescribeVerifiedAccessEndpoints, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetVerifiedAccessEndpointPolicy: {post: {summary: GetVerifiedAccessEndpointPolicy, operationId: GetVerifiedAccessEndpointPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetVerifiedAccessEndpointTargets: {post: {summary: GetVerifiedAccessEndpointTargets, operationId: GetVerifiedAccessEndpointTargets, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessEndpoint: {post: {summary: ModifyVerifiedAccessEndpoint, operationId: ModifyVerifiedAccessEndpoint, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessEndpointPolicy: {post: {summary: ModifyVerifiedAccessEndpointPolicy, operationId: ModifyVerifiedAccessEndpointPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateVerifiedAccessGroup: {post: {summary: CreateVerifiedAccessGroup, operationId: CreateVerifiedAccessGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteVerifiedAccessGroup: {post: {summary: DeleteVerifiedAccessGroup, operationId: DeleteVerifiedAccessGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeVerifiedAccessGroups: {post: {summary: DescribeVerifiedAccessGroups, operationId: DescribeVerifiedAccessGroups, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetVerifiedAccessGroupPolicy: {post: {summary: GetVerifiedAccessGroupPolicy, operationId: GetVerifiedAccessGroupPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessGroup: {post: {summary: ModifyVerifiedAccessGroup, operationId: ModifyVerifiedAccessGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessGroupPolicy: {post: {summary: ModifyVerifiedAccessGroupPolicy, operationId: ModifyVerifiedAccessGroupPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateVerifiedAccessInstance: {post: {summary: CreateVerifiedAccessInstance, operationId: CreateVerifiedAccessInstance, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteVerifiedAccessInstance: {post: {summary: DeleteVerifiedAccessInstance, operationId: DeleteVerifiedAccessInstance, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeVerifiedAccessInstances: {post: {summary: DescribeVerifiedAccessInstances, operationId: DescribeVerifiedAccessInstances, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ExportVerifiedAccessInstanceClientConfiguration: {post: {summary: ExportVerifiedAccessInstanceClientConfiguration, operationId: ExportVerifiedAccessInstanceClientConfiguration, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessInstance: {post: {summary: ModifyVerifiedAccessInstance, operationId: ModifyVerifiedAccessInstance, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeVerifiedAccessInstanceLoggingConfigurations: {post: {summary: DescribeVerifiedAccessInstanceLoggingConfigurations, operationId: DescribeVerifiedAccessInstanceLoggingConfigurations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessInstanceLoggingConfiguration: {post: {summary: ModifyVerifiedAccessInstanceLoggingConfiguration, operationId: ModifyVerifiedAccessInstanceLoggingConfiguration, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /AttachVerifiedAccessTrustProvider: {post: {summary: AttachVerifiedAccessTrustProvider, operationId: AttachVerifiedAccessTrustProvider, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateVerifiedAccessTrustProvider: {post: {summary: CreateVerifiedAccessTrustProvider, operationId: CreateVerifiedAccessTrustProvider, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteVerifiedAccessTrustProvider: {post: {summary: DeleteVerifiedAccessTrustProvider, operationId: DeleteVerifiedAccessTrustProvider, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeVerifiedAccessTrustProviders: {post: {summary: DescribeVerifiedAccessTrustProviders, operationId: DescribeVerifiedAccessTrustProviders, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DetachVerifiedAccessTrustProvider: {post: {summary: DetachVerifiedAccessTrustProvider, operationId: DetachVerifiedAccessTrustProvider, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ModifyVerifiedAccessTrustProvider: {post: {summary: ModifyVerifiedAccessTrustProvider, operationId: ModifyVerifiedAccessTrustProvider, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
